body {
	margin: 0;
	Font-size: 15px;
	line-height: 1.6;
	color: #333;

}
/* Container */

.container {
	width: 100%;
	max-width: 1000px;
	margin: auto 0;
}

/* Intro */

.intro {
	width: 100%;
	height: 100vh;
	background: url(images/intro.jpg) center no-repeat;
	background-size: cover;
}

/* Header */
.header {
	width: 100%;
	
	padding-top: 15px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}

/* Header_inner */
.header__inner{
	display: flex; 
	justify-content: space-between;
	align-items: center;

}




/* Header_logo */

.header__logo{
font-size: 35px;
font-weight: 800;
color: #00FFFF;
padding-left: 30px;
padding-bottom: 20 px;
}

/* Nav */

.nav {
	font-size: 30px;
	text-transform: uppercase;
	padding-left: 250px;	
	
}

.nav__link{
	display: inline-block;
	margin: 0 30px;
	vertical-align: top;
	color: #FFF;
	position: relative;
	text-decoration: none;
	
	transition: color .1s linear
}

.nav__link:hover {
    color: #00FFFF;
}

.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    background-color: #FFF;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .1s linear;
}

.nav__link:hover:after,

}

.nav__link.active {
    color: ;
}